/* Reset Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Font211';
}

input {
    font-family: 'Bitcell';
}

/* Navbar Style */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navSearch {
    display: flex;
}

/* NavLogo Style */
.navLogo {
    width: 5%;
    margin-right: 75px;
}

/* Home Page Style */
.ctaSignUp {
    text-align: center;
}

/* Dashboard Styles */
.upperDashContainer {
    display: flex;
    justify-content: space-around;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upperSocial {
    display: flex;
    justify-content: space-between;
}

.lowerSocial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.leaderboards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upperLeaderboard {
    display: flex;
    justify-content: space-between;
}

/* Social Bar Style */
.socialBarGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    text-align: center;
    margin: 15px;
}

.socialBarLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialBarLinks img {
    width: 70%;
    height: auto;
}

/* Profile Page Style */
.profileContent {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}