/* Reset Css */
* {
  margin: 0;
  padding: 0;
  font-family: "Font211";
}

input {
  font-family: "Bitcell";
}

/* General links style */
a {
  color: #ffc500;
  text-decoration: none;
}
a:hover {
  color: #37c9de;
}
a:visited {
  color: #37c9de;
}
a:visited:hover {
  color: #ffc500;
}

/* Navbar Style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-image: url("../src/assets/images/navBackground.png");
}
.navbar input {
  background-color: rgba(255, 255, 255, 0.163);
  padding: 4px;
  border-radius: 5px;
}
.searchLabel {
  color: white;
}
.searchBttn {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.actionLinks {
  display: flex;
  gap: 25px;
}

.navSearch {
  display: flex;
}

.exploreBttn,
.loginBttn,
.logoutBttn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: white;
}

.exploreBttn a {
  color: #43ff3c;
  text-decoration: none;
}
.exploreBttn {
  color: #43ff3c;
  border: 2px solid #43ff3c;
}

.logoutBttn a {
  color: #ea5351;
  text-decoration: none;
}
.logoutBttn {
  color: #ea5351;
  border: 2px solid #ea5351;
}

.loginBttn a {
  color: #ffc500;
  text-decoration: none;
}
.loginBttn {
  color: #ffc500;
  border: 2px solid #ffc500;
}

/* NavLogo Style */
.navLogo {
  width: 5%;
  margin-right: 45px;
}

/* Dropdown Style */
.dropdown {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 300px;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-category {
  padding: 10px;
}

.dropdown-category h4 {
  margin: 0 0 10px;
  color: #ffc500;
  font-family: "Bitcell";
}

.dropdown-category a {
  display: block;
  color: white;
  padding: 5px 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-category a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Home Page Style */
.ctaSignUp {
  text-align: center;
  background-image: url("../src/assets/images/startBackground.png");
  padding: 10%;
}

.ctaSignUp h1 {
  color: white;
  padding: 15px;
}
.ctaSignUp button {
  padding: 10px 20px;
  background-color: #ea5351;
  border: 2px solid #d53431;
  border-radius: 5px;
}
.ctaSignUp button a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

/* UserForm Styles */
.userFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-size: cover;
}

.userForm {
  background-color: rgba(34, 34, 34, 0.85);
  border: 2px solid #ea5351;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.userForm label {
  display: block;
  color: #ffc500;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-family: "Bitcell";
}

.userForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  font-family: "Bitcell";
  outline: none;
}

.userForm input::placeholder {
  color: #888;
}

.userForm p {
  color: #ea5351;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.userForm button.submitBttn {
  width: 100%;
  padding: 10px;
  border: 2px solid #43ff3c;
  border-radius: 5px;
  background-color: #43ff3c;
  color: #2d2d2d;
  font-size: 1.1em;
  font-family: "Bitcell";
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.userForm button.submitBttn:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.userForm .submitBttn:disabled {
  background-color: #444;
  color: #999;
  cursor: not-allowed;
}

/* Dashboard Styles */
.upperDashContainer,
.lowerDashContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.userGreeting {
  background-image: url("../src/assets/images/greetingBckgrd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  font-weight: bold;
  font-size: 3em;
  border-radius: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.socials,
.leaderboards {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upperSocial,
.upperLeaderboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.lowerSocial,
.lowerLeaderboard {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.lowerSocial a,
.lowerLeaderboard a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.lowerSocial a:hover,
.lowerLeaderboard a:hover {
  background-color: #ffc476;
  padding: 5px;
}

.news {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #ea5351;
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashGames,
.dashLounges {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #FFC500;
  border-radius: 15px;
  padding: 35px;
  width: 42%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.dashGames p,
.dashLounges p {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.dashGames a,
.dashLounges a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.dashGames a:hover,
.dashLounges a:hover {
  background-color: #2eb82e;
}

.socialLink,
.leaderboardLink,
.gameLink,
.loungeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.socialLink:hover,
.leaderboardLink:hover,
.gameLink:hover,
.loungeLink:hover {
  background-color: #ea5351;
}

.upperDashContainer p,
.lowerDashContainer p {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

/* Lounges Section */
.loungeList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px auto;
}

.loungeItem {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #00b1cc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.666);
}

.loungeItem h2 {
  color: #FFC500;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Bitcell";
}

.loungeItem p {
  color: #37c9de;
  font-size: 1.2em;
  margin-bottom: 15px;
  font-family: "Bitcell";
}

.loungeActions {
  display: flex;
  justify-content: space-between;
}

.viewLink,
.joinLink {
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Bitcell";
  transition: background-color 0.3s, color 0.3s;
}

.viewLink {
  background-color: #EA5351;
  color: #2d2d2d;
}

.viewLink:hover {
  background-color: #2d2d2d;
  color: #FFC500;
}

.joinLink {
  background-color: #43FF3C;
  color: #fff;
}

.joinLink:hover {
  background-color: #2d2d2d;
  color: #43FF3C;
}

/* Games Section */
.gameList {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.gameDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameDetails h2 {
  color: #EA5351;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Bitcell";
}

.gameDetails p {
  color: #37c9de;
  font-size: 1.2em;
  margin-bottom: 15px;
  font-family: "Bitcell";
}

.playLink:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

/* Social Bar Style */
.socialBarGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-align: center;
  margin: 15px;
}

.socialHead {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffc500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.53);
  margin-bottom: 10px;
}

.socialBarLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.socialIconLink {
  position: relative;
  padding: 5px 9%;
  transition: transform 0.3s, background-color 0.3s, border 0.3s;
}

.socialIconLink:hover,
.dashSocialLink:hover {
  transform: scale(1);
  background-color: #ffc47636;
  border: 2px solid #ffc47636;
}

.socialIconLink.active {
  background-color: #ffc500;
  border: 2px solid #ffc500;
}

.socialIconLink img {
  width: 15px;
  height: 15px;
}

/* Tooltip Styles */
.socialIconLink::after,
.dashSocialLink::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transition-delay: 0.2s;
}

.socialIconLink:hover::after,
.dashSocialLink:hover::after {
  opacity: 0.5;
  transition-delay: 0.5s;
}

/* Profile Page Style */
.profileContent {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ffc500;
  text-align: center;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-size: 1.5em;
  color: #ffc500;
}

.userRole {
  font-size: 1em;
  color: #333;
}

.editProfileLink {
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.editProfileLink:hover {
  background-color: #ffc47652;
}

.userBio {
  width: 90%;
}

.bioTitle {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 10px;
}

.bioContent {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  font-family: inherit;
  background-color: #f9f9f9;
  font-size: 1.2em;
}

.rightSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rightSide p {
  font-size: 1.4em;
  color: #ffc500;
}
.profileData {
  display: block;
  color: #333;
}

.updateProfileLink,
.deleteProfileButton {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.updateProfileLink {
  background-color: #43ff3c;
  color: #fff;
  border: 2px solid #43ff3c;
  transition: background-color 0.3s, border-color 0.3s;
}

.updateProfileLink:hover {
  background-color: #2ea128;
  border-color: #2ea128;
}

.deleteProfileButton {
  background-color: #ea5351;
  color: #fff;
  border: 2px solid #ea5351;
  transition: background-color 0.3s, border-color 0.3s;
}

.deleteProfileButton:hover {
  background-color: #a33a39;
  border-color: #a33a39;
}

/* ProfileForm Styles */
.profileFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-size: cover;
}

.profileForm {
  background-color: rgba(34, 34, 34, 0.85);
  border: 2px solid #ea5351;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.profileForm label {
  display: block;
  color: #ffc500;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-family: "Bitcell";
}

.profileForm input,
.profileForm textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  font-family: "Bitcell";
  outline: none;
}

.profileForm input::placeholder,
.profileForm textarea::placeholder {
  color: #888;
}

.profileForm textarea {
  resize: none;
  overflow-y: auto;
}

.profileForm p {
  color: #ea5351;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.profileForm button.submitBttn {
  width: 100%;
  padding: 10px;
  border: 2px solid #43ff3c;
  border-radius: 5px;
  background-color: #43ff3c;
  color: #2d2d2d;
  font-size: 1.1em;
  font-family: "Bitcell";
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.profileForm button.submitBttn:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.profileForm .submitBttn:disabled,
.loungePostFormDisplay .submitBttn:disabled
{
  background-color: #444;
  color: #999;
  cursor: not-allowed;
}

.profileForm .cancelLink {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #ffc500;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Bitcell";
  transition: color 0.3s;
}

.profileForm .cancelLink:hover {
  color: #a16b00;
}

/* Lounge Display Styles */
.loungeDisplay {
  position: relative;
  background-color: #f8f8f8;
  border: 2px solid #ffc500;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loungeDisplay .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #ea5351;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.loungeDisplay .closeButton:hover {
  color: #2d2d2d;
}

.loungeDisplay .loungeName {
  font-size: 1.8em;
  color: #ffc500;
  font-family: "Bitcell", sans-serif;
  margin-bottom: 10px;
}

.loungeDisplay .loungeDescription {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}

.loungeDisplay .loungeActions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.loungeDisplay .joinLoungeButton,
.loungeDisplay .deleteLoungeButton {
  padding: 10px 20px;
  font-size: 1em;
  font-family: "Bitcell";
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.loungeDisplay .joinLoungeButton {
  background-color: #43ff3c;
  color: #2d2d2d;
}

.loungeDisplay .joinLoungeButton:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.loungeDisplay .deleteLoungeButton {
  background-color: #ea5351;
  color: #fff;
}

.loungeDisplay .deleteLoungeButton:hover {
  background-color: #2d2d2d;
  color: #ea5351;
}

.loungeDisplay .loungePosts {
  margin-top: 20px;
}

.loungePosts .post {
  background-color: #ddefff;
  border: 2px solid #37c9de;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.loungePosts .post .postContent {
  font-size: 1em;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loungePosts .post .postTime {
  font-size: 0.8em;
  color: #007080;
  margin-left: 10px;
}

.loungePosts .post .postAuthor {
  font-size: 1em;
  color: #37c9de;
  margin-top: 5px;
}

.loungePosts .post .postActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.loungePosts .post .postActions button,
.submitBttn,
.cancelBttn
{
  padding: 5px 10px;
  font-size: 0.8em;
  font-family: "Bitcell";
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.loungePosts .post .postActions button.editBttn,
.submitBttn
{
  background-color: #ffc500;
  color: #2d2d2d;
}

.loungePosts .post .postActions button.editBttn:hover,
.submitBttn:hover
{
  background-color: #2d2d2d;
  color: #ffc500;
}

.loungePosts .post .postActions button.deleteBttn,
.cancelBttn
{
  background-color: #ea5351;
  color: #fff;
}

.loungePosts .post .postActions button.deleteBttn:hover,
.cancelBttn:hover
{
  background-color: #2d2d2d;
  color: #ea5351;
}

.loungePostFormDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ddefff;
  border-top: 2px solid #ffc500;
  border-bottom: 2px solid #ffc500;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loungePostFormDisplay label {
  margin-bottom: 10px;
  color: #ffc500;
  font-family: "Bitcell", sans-serif;
}

.loungePostFormDisplay select,
.loungePostFormDisplay textarea {
  width: 97%;
  max-width: 600px;
  padding: 10px;
  margin: 5px 0px;
  border: 2px solid #ffc500;
  border-radius: 5px;
  background-color: #006f8030;
  color: #333;
  font-family: "Bitcell", sans-serif;
}

.loungePostFormDisplay .submitBttn {
  padding: 10px 20px;
  background-color: #43ff3c;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  font-family: "Bitcell", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.loungePostFormDisplay .submitBttn:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.loungePostFormDisplay p {
  color: #ea5351;
  margin-top: -5px;
  padding: 5px 0px;
}

/* Lounge Page Styles */
.loungeContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pageTitle {
  text-align: center;
  font-family: "Bitcell", sans-serif;
  color: #ffc500;
  margin-bottom: 20px;
}

.createLoungeButton {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #007080;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Bitcell", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.createLoungeButton:hover {
  background-color: white;
  color: #37c9de;
  border: 2px solid #007080;
}

.loungePostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.loungePostForm label {
  margin-bottom: 10px;
  color: #ffc500;
  font-family: "Bitcell", sans-serif;
}

.loungePostForm select,
.loungePostForm textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ffc500;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
  font-family: "Bitcell", sans-serif;
}

.loungePostForm .submitBttn {
  padding: 10px 20px;
  background-color: #43ff3c;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  font-family: "Bitcell", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.loungePostForm .submitBttn:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.loungeContent {
  display: flex;
  justify-content: space-between;
}

.loungeLeft,
.loungeRight {
  width: 48%;
}

.sectionTitle {
  font-family: "Bitcell", sans-serif;
  color: #ffc500;
  margin-bottom: 10px;
  text-align: center;
}

.userLoungeContainer,
.publicLoungeContainer {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loungeCard {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ddefff;
}

.loungeCardTitle {
  font-family: "Bitcell", sans-serif;
  color: #ffc500;
}
.loungeCardOwner {
  color: #007080;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.loungeCardDescription {
  font-family: "Bitcell", sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.editLink,
.seeMoreLink {
  display: block;
  text-align: right;
  color: #43ff3c;
  text-decoration: none;
  font-family: "Bitcell", sans-serif;
  margin-top: 10px;
  transition: color 0.3s;
}

.editLink:hover,
.seeMoreLink:hover {
  color: #2d2d2d;
}

.postCard {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.postTitle {
  font-family: "Bitcell", sans-serif;
  color: #ea5351;
  margin-bottom: 5px;
}

.postAuthor {
  color: #EA5351;
  margin-right: 10px;
}

/* Chat Styles from CEI */
.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title {
  font-size: 42px;
  font-family: "Avenir";
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #e8e8e8;
  padding-bottom: 12px;
}

.form-subtitle {
  font-size: 18px;
  font-family: "Avenir";
  letter-spacing: 0.5px;
  color: #afafaf;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
  width: 100px;
}
.auth-input {
  background-color: #3e404b;
  color: white;
  font-family: "Avenir";
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}
.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Avenir";
  cursor: pointer;
  transition: all 0.44s ease;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
}
.auth-button:hover {
  filter: brightness(145%);
}

.chat-wrapper {
  height: 80vh;
  width: 80%;
  margin-left: 10%;
  color: white;
  background: rgb(43, 47, 60);
}

/* LoginForm Styles */
.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-size: cover;
}

.loginForm {
    background-color: rgba(34, 34, 34, 0.85);
    border: 2px solid #EA5351;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.loginForm label {
    display: block;
    color: #FFC500;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family: 'Bitcell';
}

.loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1em;
    font-family: 'Bitcell';
    outline: none;
}

.loginForm input::placeholder {
    color: #888;
}

.loginForm p {
    color: #EA5351;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.loginForm button.submitBttn {
    width: 100%;
    padding: 10px;
    border: 2px solid #43FF3C;
    border-radius: 5px;
    background-color: #43FF3C;
    color: #2d2d2d;
    font-size: 1.1em;
    font-family: 'Bitcell';
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.loginForm button.submitBttn:hover {
    background-color: #2d2d2d;
    color: #43FF3C;
}

.loginForm .submitBttn:disabled {
    background-color: #444;
    color: #999;
    cursor: not-allowed;
}

.loginForm .cancelLink {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #FFC500;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Bitcell';
    transition: color 0.3s;
}

.loginForm .cancelLink:hover {
    color: #a16b00;
}

/* Lounge Form */
.loungeFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-size: cover;
}

.loungeForm {
  background-color: rgba(34, 34, 34, 0.85);
  border: 2px solid #EA5351;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.loungeForm label {
  display: block;
  color: #FFC500;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.loungeForm input, .loungeForm textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  font-family: 'Bitcell';
  outline: none;
}

.loungeForm input::placeholder, .loungeForm textarea::placeholder {
  color: #888;
}

.loungeForm .submitBttn {
  width: 100%;
  padding: 10px;
  border: 2px solid #43FF3C;
  border-radius: 5px;
  background-color: #43FF3C;
  color: #2d2d2d;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.loungeForm .submitBttn:hover {
  background-color: #2d2d2d;
  color: #43FF3C;
}

.loungeForm .cancelLink {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #FFC500;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.loungeForm .cancelLink:hover {
  color: #a16b00;
}

.error {
  color: #EA5351;
  font-size: 0.9em;
}

/* Game Form Styles */
.gameFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-size: cover;
}

.gameForm {
  background-color: rgba(34, 34, 34, 0.85);
  border: 2px solid #ea5351;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.gameForm label {
  display: block;
  color: #ffc500;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-family: "Bitcell";
}

.gameForm input,
.gameForm textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  font-family: "Bitcell";
  outline: none;
}

.gameForm input::placeholder,
.gameForm textarea::placeholder {
  color: #888;
}

.gameForm textarea {
  resize: none;
  overflow-y: auto;
}

.gameForm p {
  color: #ea5351;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.gameForm button.submitBttn {
  width: 100%;
  padding: 10px;
  border: 2px solid #43ff3c;
  border-radius: 5px;
  background-color: #43ff3c;
  color: #2d2d2d;
  font-size: 1.1em;
  font-family: "Bitcell";
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.gameForm button.submitBttn:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.gameForm .submitBttn:disabled {
  background-color: #444;
  color: #999;
  cursor: not-allowed;
}

.gameForm .cancelLink {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #ffc500;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Bitcell";
  transition: color 0.3s;
}

.gameForm .cancelLink:hover {
  color: #a16b00;
}

/* Game List Styles */
.backLink {
  color: #ffc500;
  font-size: 1.1em;
  font-family: "Bitcell";
  text-decoration: none;
  transition: color 0.3s;
}
.backLink:hover {
  color: #a16b00;
}

.gamesContainer {
  padding: 3%;
  background-color: rgba(34, 34, 34, 0.85);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.gameItem {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #00b1cc;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.666);
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.gameItem h2 {
  color: #EA5351;
  font-size: 1.7em;
  font-family: "Bitcell";
}

.gameItem p {
  color: #37c9de;
  font-size: 1.2em;
  margin-bottom: 25px;
  font-family: "Bitcell";
}

.gameIcon {
  width: 85%;
  margin: auto;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #ea5351;
}

.playLink {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #EA5351;
  color: #2d2d2d;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Bitcell";
  transition: background-color 0.3s, color 0.3s;
}

/* Game Display Styles */
.gameContainer {
  padding: 3%;
  background-color: rgba(34, 34, 34, 0.85);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.game {
  text-align: center;
  color: white;
  font-family: "Bitcell";
}

.game h2 {
  color: #EA5351;
  font-size: 2em;
  margin-bottom: 15px;
}

.game p {
  color: #37c9de;
  margin-bottom: 15px;
}

.gameIframe {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.666);
}

/* UserDisplay Styles */
.user-profile {
  padding: 20px;
  background-color: rgba(34, 34, 34, 0.85);
  border: 2px solid #ea5351;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-family: "Bitcell";
  position: relative;
}

.user-profile h1 {
  font-size: 2em;
  color: #ffc500;
  margin-bottom: 15px;
}

.user-profile p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.user-profile textarea {
  width: 90%;
  padding: 10px;
  border: 2px solid #ffc500;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: inherit;
  resize: none;
  margin-bottom: 15px;
}

.user-profile button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.friend-button {
  background-color: #43ff3c;
  color: #2d2d2d;
}

.friend-button:hover {
  background-color: #2d2d2d;
  color: #43ff3c;
}

.message-button {
  background-color: #ea5351;
  color: #fff;
}

.message-button:hover {
  background-color: #2d2d2d;
  color: #ea5351;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffc500;
  color: #2d2d2d;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Bitcell";
  transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
  background-color: #2d2d2d;
  color: #ffc500;
}

/* Friends Page Styles */
.friendsPage {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pageTitle {
  text-align: center;
  font-family: "Bitcell", sans-serif;
  color: #ffc500;
  margin-bottom: 30px;
}

.friendsList, .searchResults {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.friendCard, .searchResultCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.friendName, .resultUsername {
  font-family: "Bitcell", sans-serif;
  color: #333;
  margin-bottom: 15px;
}

.messageButton, .addFriendButton, .viewProfileLink {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007080;
  color: white;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Bitcell", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.messageButton:hover, .addFriendButton:hover, .viewProfileLink:hover {
  background-color: white;
  color: #37c9de;
  border: 2px solid #007080;
}

.searchForm {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 2px solid #ffc500;
  border-radius: 8px;
  background-color: #f8f8f8;
  color: #333;
  font-family: "Bitcell", sans-serif;
}